*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: #f5f5f5;
    font-size: 22px;
    text-align: left;
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
}

a {
    text-decoration: none;
    padding: 0.5em;
    color:black;
}

p{
    margin: 1em 0;
}

li {
    margin: 0.5em -0.25em;
}

#crypto {
    list-style: url('https://api.iconify.design/akar-icons/bitcoin-fill.svg?width=24&height=24');
}
#todo {
    list-style: url('https://api.iconify.design/bx/bx-notepad.svg?width=24&height=24');
}
#calculator {
    list-style:  url('https://api.iconify.design/ant-design/calculator-outlined.svg?width=24&height=24');
}

header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 1em;
    margin-bottom: 1em;
}

.about {
    display: flex;
    align-items: center;
    padding: 1em 0em;
}

.img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.skills .iconify {
    margin: 1em;
}

.skill-icons {
    margin: 0 -1.2em;
}

.contact .iconify {
    margin: 1em;
}

.contact-icon {
    margin: 0 -0.5em;
}

footer {
    text-align: center;
    padding: 1em;
}

.clock {
    top: 50%;
    left: 50%;
    color: black;
    letter-spacing: 7px;
    font-weight: bold;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }